
<% content_for(:title, "Edit Article Page") %>
<div>
  <div class="center" style="margin:15px;text-align:left;">
    <h3 class="header"> EDIT EXISTING ARTICLE</h3>
    <%= render 'form' %>
  </div>
</div>
