<% content_for(:title, "Edit Article Page") %>
<h2 class="header"> Edit existing article</h2>
<div align="center">
  <div class="center" style="margin:15px;text-align:left;">
    <%= render 'form' %>
  </div>
</div>
