<% content_for(:title, "Edit Article Page") %>
<div style="">
  <div class="center" style="margin:15px;text-align:left;">
    <h2 class="header"> Edit existing article</h2>
    <%= render 'form' %>
  </div>
</div>
