<% content_for(:title, "Article Lists") %>

  <hr>
  <div style="position: relative;">
    <h2 class="header">
      LISTING ALL ARTICLES
    </h2>

    <hr>
    <%# will_paginate @articles %>

    <%= render 'articles/index' %>
    <%= render 'shared/paging' %>

    <%# will_paginate @articles %>

  </div>
  <hr>

  <script>
    function goto(id) {
      window.location.href = 'http://localhost:3000/articles/' + id
    }
  </script>
