<% content_for(:title, "Create Article Page") %>
<!-- <h2 class="header">Create an article</h2> -->
<div align="center" style="">
  <div class="center" style="margin:15px;text-align:left;">
    <h3 class="header">CREATE AN ARTICLE</h3>
    <%= render 'form' %>
  </div>
</div>
