<h1> Showing selected article </h1>

<p> Title: <%= @article.title %> </p>
<p> Description: <%= @article.description %> </p>
<!-- <hr> -->

<%= link_to "Edit this articles listing", edit_article_path %> || 

<%= link_to "Back to articles listing", articles_path %>
