
<h1> Showing selected article </h1>

<p> Title: <%= @article.title %> </p>
<p> Description: <%= @article.description %> </p>
<!-- <hr> -->
<table>
  <tr>
    <td>
      <%= button_to "Edit Article", edit_article_path, :method => :get, :class => 'form-button' %>
    </td>
    <td>
      <%= button_to "List Articles", articles_path, :method => :get, :class => 'form-button' %>
    </td>
  </tr>
</table>
