<%= render 'shared/paging', obj: @users %>

  <hr>
  <h2 class="header">
    ALL ALPHA BLOGGERS
  </h2>
  <hr>
  <% will_paginate @users %>

  <small style="float:right; font-weight:bold">
    <%= @users.current_page %> / <%= @users.total_pages %>
  </small>

  <% will_paginate @users %>
  <%= render 'shared/userCards', obj: @users %>
