<hr>
<div>
  <h3 class="header">
    WELCOME TO
    <%= @user.username.upcase %>
    ARTICLES' PAGE
  </h3>
  <div align="center">
    <div style="">
      <%= get_avator_image(@user, 100) %>
    </div>

  </div>
</div>

<hr>
<%= render 'shared/listArticles', obj: @user.articles, length: '200' %>
