
<div class="card-deck card">
  <div align="center" class="article-card">
    <div class="article-card-body">
      <h5 class="card-title">
        <%= obj.title.upcase %></h5>
      <hr>
      <%= obj.description %>
    </div>
  </div>
</div>
