<div class="container">
  <div class="row">

    <% obj.each do | a | %>
      <div class="col-lg-6">
        <a href="http://<%= IPADDRESS %>/articles/<%= a.id %>" style="text-decoration:none;font-size:16px">
            <%= render 'shared/card', obj: a, length: length %>
          </a>
        </div>
      <% end %>

    </div>
  </div>
