<div class="page-right">
    <a class="paging" href="http://34.214.229.162/articles?page=<%=(@articles.current_page == @articles.total_pages ? 1 : @articles.current_page + 1) %>" role="button">
        <%# icon('fas', 'chevron-right', class: 'paging') %>
        <i class="fas fa-chevron-right paging"></i>
    </a>
</div>

<div class="page-left">
    <a class="paging" href="http://34.214.229.162/articles?page=<%=(@articles.current_page < 2 ?  @articles.total_pages : @articles.current_page - 1) %>"  role="button">
        <%# icon('fas', 'chevron-left', class: 'paging') %>
        <i class="fas fa-chevron-left paging"></i>
    </a>
</div>
