<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Template - 1 </title>

    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/animate.min.css"> -->
    <!-- <base href="/"> -->
</head>

<body bgcolor="lightyellow">

    <div class="headerMenu">
        <div class="">
            <!-- <a ui-sref="about" id="about">About</a> -->
            <%= link_to 'Home', root_path, :id => 'menu' %> &nbsp &nbsp
            <%= link_to 'About', about_path, :id => 'menu' %>
            <!-- <a href="/welcome/"> Home </a> -->
        </div>
    </div>

  <br><br><br>
   <h1 align="center" style="font-family: sans-serif"> Welcome to the About Page </h1>

</body>

</html>
