<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Template - 1 </title>

    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/animate.min.css"> -->
    <!-- <base href="/"> -->
</head>

<body bgcolor="lightblue">

    <div class="headerMenu">
        <div class="center" id="menu">
            <!-- <a ui-sref="home" id="home">Home</a> -->
            <!-- <a href="/welcome/"> Home </a> -->
            <%= link_to 'Home', root_path %> |
            <%= link_to 'About', about_path %>
        </div>

    </div>

  <br><br><br>
   <h1 align="center" style="font-family: sans-serif"> Welcome to the Home Page </h1>

</body>

</html>
