<br><br>

<% if @search_str.count > 0 %>
  <h3 align='left'><%= @search_str.count %> article(s) found</h3>
  <% if @search_str.count > 0 %>
    <%= render 'shared/listArticles', obj: @search_str, length: '150' %>
  <% end %>
<% end %>

<% if @search_name.count > 0 %>
  <h3 align='left'><%= @search_name.count %> user found</h3>
  <% if @search_name.count > 0 %>
    <%= render 'shared/userCards', obj: @search_name %>
  <% end %>
<% end %>

<% if @search_str.count == 0 && @search_name.count == 0 %>
  <h3 class="center" style="color:red"> No search data has been found! </h3>
<% end %>
