
 .headerMenu {
     position: fixed;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     top: 0;
     left: 0;
     font-family: sans-serif;
     font-size: 1.2em;
     background: #888784;
     color: #0668cf;
     height: 55px;
     line-height: 50px;
     width: 100%;
     padding: 5px;
     text-shadow: 1px 1px 1px #222;
     opacity: 0.9;
     z-index: 5;
 }

a {text-decoration: none; }

 /* a:link {
     color: white;
     text-decoration: none;
 }

 a:visited {
     color: white;
     text-decoration: none;
 }

 a:hover {
     color: white;
     text-decoration: none;
 }

 a:active {
     color: white;
     text-decoration: none;
 } */

 table, th, td {
     border: 1px solid black;
 }

 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
     background-color: #717474;
     color: white;
 }

 #menu {
     position: relative;
     left: 10px;
     font-family: fantasy;
     font-size: 1.2em;
     font-weight: bold;
     color: white;
     outline: none;
 }

 #menu:hover {
     color: #0d60ac;
 }

 /* #menu:not(:hover) {
     color: white;
 } */

 #menu:focus {
   color: #0d60ac;
 }
