// @import "bootstrap-sprockets";
// @import "bootstrap";

// .navbar-brand {
//  padding: 0 15px;
//  height: 50px;
//  line-height: 50px;
// }
//


body {
   background-color: white;
}

.main {
  top:60px;
}

.navbar {
  // min-height: 48px;
  max-height: 50px;
  background-color: #f2835a;
  font-family: inherit;
  font-size: 1em;
  word-spacing: 1px;
  box-shadow: 2px 2px 1px #aaa;
  outline: none;
}

.nav-item {
  text-decoration: none;
  margin: 5px;

}


#menu {
  position: relative;
  text-decoration: none;
  left: 10px;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  /* text-shadow: 2px, 2px, #ccc; */
  outline: none;
}

#menu:hover {
  color: #0d60ac;
  /* text-shadow: 0px, 0px, #ccc; */
}

/* #menu:not(:hover) {
     color: white;
 } */
#menu:focus {
  color: #0d60ac;
}


#logo {
  float: left;
  font-family:impact;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px #4d4848;
  letter-spacing: 1px;
  font-wight: bold;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #345d8c;
}

.search:hover {
  background-color: lightblue;
}
