<% content_for(:title, "Categories List") %>
<hr>
<h3 align="center" class="header">
  LISTING ALL CATEGORIES
</h3>
<hr>

<div class="container center">
  <br><br>
  <div class="row">

    <% @categories.each do |category| %>
       <%# <div style="cursor:pointer" onclick="category(<%= category.id %>

        <div class="card-deck col-sm-6 cathover" style="cursor:pointer; width:200px; height:120px;" onclick="category(<%= category.id %>)">
          <div class="card" style="padding: 3px; box-shadow: 4px 4px 2px #aaa; margin: 10px">
            <div class="card-body" style="background-color: #d8e5eb;">
              <h3 class="card-title" style="float:center">
                <br>
                <%= category.name %>
              </h3>
            </div>
          </div>
        </div>

      <!-- </div> -->
    <% end %>
  </div>
</div>

<script>

  function category(id) {
    window.location.href = 'http://<%= IPADDRESS %>/categories/' + id
  }
</script>
