<hr>
<div style="opacity:0.8">
  <footer class="footer">
    <div style="font-size:13px">
      <br>
      <p style="font-size:12px">&nbsp&nbspCopyright &copy; 2018 Alpha Blog, developed by Kang Chen</p>
    </div>
  </footer>
</div>
