<body bgcolor="#cdddec">
<div class="headerMenu">
    <div class="center">
        <!-- <a ui-sref="home" id="home">Home</a> -->
        <!-- <a href="/welcome/"> Home </a> -->
      <%= link_to 'Alpha Blog', articles_path, :id => 'menu' %>  &nbsp &nbsp
      <%= link_to 'About', about_path, :id => 'menu' %>
    </div>

</div>
<br><br><br>
</body>
