<div>

  <% flash.each do |name, msg| %>

    <div id='notification' class=" parent notificationWindow center" style="visibility:visible">

      <div class='item' style="height:auto;">
        <h5 style="color:black; float:right; margin:10px">
        <a onclick="closeit('notification')" style="cursor:pointer; font-family:verdana"><%= image_tag('close.png')%></a></h5>
        <h5 style="color:black; float:left; margin:10px">Notification</h5><br><br>
        <hr>

      <div class='item' style="height:auto;">
        <% if name == 'danger' %>
        <p style="font-weight:bold; font-size:1.2em; color:red">
          <%= msg %>
        </p>
        <% else %>
        <p style="font-weight:bold; font-size:1.2em; color:green">
          <%= msg %>
        </p>
        <% end %>
      </div>

      <div class='item' style="float:right; height: auto;">
        <hr>
        <button type="button" class="btn btn-md btn-secondary" autofocus onclick="closeit('notification');" style="opacity:1; float:right; margin:10px;">
          Close
        </button>
      </div>

    </div>
  <% end %>

</div>
